.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 0A0908 */
/* 49111C */
/* F2F4F3 */
/* A9927D */
/* 5E503F */

 /* C19AB7 */
 /* 9C95DC */
 /* 228CDB */
 /* 0B7189 */
 /* 170A1C */

 /* DB2B39 */
 /* 29335C */
 /* F3A712 */
 /* F0CEA0 */
 /* 534D41 */

 /* 0A0908 */
 /* 22333B */
 /* F2F4F3 */
 /* A9927D */
 /* 5E503F */

 /* D36135 */
 /* 7FB069 */
 /* ECE4B7 */
 /* E6AA68 */
 /* 02020B */